@font-face {
  font-family: 'ds';
  src: url('../fontes/Ice\ kingdom\ -\ Bold\ -\ Por\ Kustren.ttf');
}

@font-face {
  font-family: 'command';
  src: url('../fontes/Ice\ kingdom\ -\ Bold\ -\ Por\ Kustren.ttf');
}
